body{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
#wrapper{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: auto;
    background: linear-gradient(rgb(253, 252, 253),rgb(240, 13, 100));
}
#header{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 220px;
    background-color: white;
}
#imgcontainer{
    width: 20%;
    height: 220px;
    float: left;
    margin: 0px;
    padding: 0px;

}
#contentcontainer{
    width: 79%;
    height: 220px;
    float: left;
    margin: 0px;
    padding: 0px;
}
#contentcontainer > p{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top:10%;
}
#nav{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 75px;
    background: linear-gradient(rgb(219, 40, 70),rgb(58, 54, 54));
    border: 2px solid black;
    
}
#nav ul li  {
    display: inline-block;
    padding: 1% 5%;
    
}
a{
    color: aliceblue;
    font-size: large;
}
a:hover{
    color: black;
    background-color: white;
}
#content{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 500px;
    background: linear-gradient(pink,rgb(219, 40, 70),);
    
}
#footer{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
    border: 2px solid black;
    background: linear-gradient(rgb(49, 47, 47),rgb(216, 19, 101));
}
#footer p {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: white;

}